<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Apha Blog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom.css", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body data-bs-theme="dark">
    <%= render "layouts/navigation"%>
    <% flash.each do |name, msg | %>
      <%= msg %>
    <% end %>
    <div class="justify-content-center gap-3 mx-5 my-5">
      <%= yield %>
    </div>
  </body>
</html>
